/* Hide default video controls */
video::-webkit-media-controls {
    display: none !important;
  }
  
  video::-moz-media-controls {
    display: none !important;
  }
  
  video::-ms-media-controls {
    display: none !important;
  }
  
  video {
    width: 100%;
    height: auto;
    background: black;
  }
  